/**
 * 管理画面　スタイルシート
 * @author JJ4KME
 */
@charset "UTF-8";
/* ========================================================================== */
/* 全体                                                                       */
/* ========================================================================== */
table#status {
	margin-top:			20px;
}

/* ========================================================================== */
/* メニュー                                                                   */
/* ========================================================================== */
ul#menu {
	font-size:			150%;
}

ul#menu li a {
	text-decoration:	none;
}

ul#menu li a:hover {
	color:				#FFFFFF;
	background-color:	#0000FF;
}

/* ========================================================================== */
/* ログインフォーム                                                           */
/* ========================================================================== */
div#login {
}

div#login span.input-group-text {
	width:				120px;
	min-width:			120px;
	max-width:			120px;
}

div#message {
	display:			none;
	margin-left:		10px;
	margin-right:		10px;
	padding-top:		5px;
	padding-bottom:		5px;
	border-radius:		5px;
	border:				solid 1px #FF0000;
	background-color:	#FFCCCC;
}

/* ========================================================================== */
/* 提出期限の設定                                                             */
/* ========================================================================== */
div#status {
}

div#status span.input-group-text {
	width:				200px;
	min-width:			200px;
	max-width:			200px;
}

/* ========================================================================== */
/* 新規作成フォーム                                                           */
/* ========================================================================== */
div#create {
}

div#create span.input-group-text {
	width:				110px;
	min-width:			110px;
	max-width:			110px;
}

/* ========================================================================== */
/* パスワード変更フォーム                                                     */
/* ========================================================================== */
div#password {
}

div#password span.input-group-text {
	width:				210px;
	min-width:			210px;
	max-width:			210px;
}
